{% set _locale = app.request.locale %}
<footer id="contact" class="footer footer-white footer-big">
    <div class="container">
        <div class="copyright pull-center">
            Techzara &copy; <script>document.write(new Date().getFullYear())</script> : techzara.mada@gmail.com
        </div>
    </div>
</footer>