<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="tz-social-icons">
                        <a href="https://web.facebook.com/Techzara" target="_blank"><i class="icon-facebook"></i></a>
                        <a href="https://github.com/Techzara" target="_blank"><i class="icon-github-with-circle"></i></a>
                    </p>
                    <p>Techzara &copy; <script>document.write(new Date().getFullYear())</script> </p>
                </div>
            </div>
        </div>
    </div>
</footer>