<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="tz-social-icons">
                        <a href="https://web.facebook.com/Techzara" target="_blank"><i class="icon-facebook"  style="font-size: 30px" ></i></a>
                        <a href="https://github.com/Techzara" target="_blank"><i class="icon-github-with-circle"  style="font-size: 30px" ></i></a>
                        <a href="tel:+261329473033" target="_blank"><i class="icon-phone3"  style="font-size: 30px" ></i></a>
                        <a href="mailto:techzara.mada@gmail.com" target="_blank"><i class="icon-mail"  style="font-size: 30px" ></i></a>
                    </p>
                    <p>Techzara Madagascar &copy; <script>document.write(new Date().getFullYear())</script> &nbsp; All right reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>