# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=fb2105403de9a9e6fe932052b7bf5a6e
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=gmail://techzara66@gmail.com:techzara123456@smtp.gmail.com
###< symfony/swiftmailer-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=mysql://root:''@127.0.0.1:3306/techzara
###< doctrine/doctrine-bundle ###

TO_EMAIL_ADDRESS=richadhassim@techzara.fr
TO_EMAIL_NAME='Richad Hassim'
TO_CC_CT_EMAIL_ADDRESS=njara@techzara.fr
TO_CC_RC_EMAIL_ADDRESS=marie@techzara.fr
FROM_EMAIL_ADDRESS=techzara@gmail.com
FROM_FIRSTNAME=Techzara

MAILER_TRANSPORT=gmail
MAILER_HOST=smtp.gmail.com
MAILER_USER=techzara66@gmail.com
MAILER_PASSWORD=techzara123456

STRIPE_API_SECRET_SECRET=sk_test_bCloG8zfBduIcYvJeKrhN96p
STRIPE_API_PUBLISHABLE_KEY=pk_test_WuiUahnWQkjavgQskqJjPzfs
PAYPAL_CLIENT_ID=AdLSMfOzXaNHzwuK2WUA7Jjc0GhQeeNo5H8443MJbb29FAmbsi5cZl_wK_PQcloVlNqEEorMbKJ6M4bZ
PAYPAL_CLIENT_SECRET=EIjgkSNs7biToVAxCJ3rJlsdh7gxTiStCj4cXSQR9Jmq6HKWxS0whwXdsb6vx8L_03T0KkL7vsj2lE0K

MAX_SIZE_VALUE_UPLOAD=1000000

ID_KLIKANDPAY=1520340544
