
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Techzara 2018</title>
    <link rel="shortcut icon" href="{{ asset('front_site_office/images/techzara/icon.jpg') }}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link href="https://mdbootstrap.com/previews/docs/latest/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://mdbootstrap.com/previews/docs/latest/css/mdb.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;subset=cyrillic-ext,latin-ext" rel="stylesheet">
</head>
<style>
    *{font-family: Montserrat, sans-serif}
</style>
<main>

    <div class="view jarallax" style="height: 100vh;">
        <img class="jarallax-img" src="https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg" alt="">
        <div class="mask rgba-blue-slight">
            <div class="container flex-center text-center">
                <div class="row mt-5">
                    <div class="col-md-12 col-xl-8 mx-auto wow fadeIn">
                        <h1 class="display-3 font-weight-bold mb-2 wow fadeInDown" data-wow-delay="0.3s">Hackathon InterUniversitaire 2019</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-5 py-4">
            <div class="col-md-12 text-center">
                <h2 class="h1 font-weight-bold pink-text my-5 py-4">Fizotran'ny Hackathon InterUniversitaire 2019</h2>
                <p align="justify">
                    Ny hackathon interUniversitaire 2019 na ny HIU_2K19 dia ho tanterahina ny andron'ny 30 - 31 Martsa 2019 , hivoaka roa volana mialoha ny laza adina ary samy
                    miketrika ny azy avokoa ny sekoly rehetra mpandray anjara.Ny fisoratana anarana dia misokatra ny volana janoary iray manontolo hoan'ny sekoly rehetra misehatra eo amin'ny
                     "informatique " sy "Mathématiques" tsy ankanavaka eran'ny Madagasikara. <br>
                    Manana roa (2) volana ny sekoly tsirairay hanamboarany ny projet-ny , izany hoe ny volana febroary sy Martsa izany , fa ny andron'ny 30 - 31
                    Martsa kosa dia fanehoana ho hitan'ny rehetra no atao aty Antananarivo. <br>
                </p>
                <h2 class="h1 font-weight-bold pink-text my-5 py-4">Fitsipika mifehy ny Hackathon InterUniversitaire 2019</h2>
                <p class="mb-0" align="justify">
                    <h3 class="text-left"><strong><u>I - Fandraisana anjara</u></strong></h3>
                    <ol>
                        <li class="text-left">Groupe roa isakin'ny Sekoly na Université ihany no afaka mandray anjara</li>
                        <li class="text-left">Ny groupe iray dia misy ekipa telo(3) farafaha-keliny ary dimy (5) farafaha-betsany</li>
                        <li class="text-left">Ny mpandray anjara dia tsy maintsy mpianatra avy ao amin'ny Sekoly na Université amin'ity taona 2019 ity
                        ary mitondra taratasy fanamarinana avy amin'ny Sekoly na Université ny mpandray anjara rehetra</li>
                        <li class="text-left">Ny fandraisana anjara dia dimy arivo ariary (5000Ar) isan'olona ary aloha mandritra ny fisoratana anarana</li>
                        <li class="text-left">Ny mpandray anjara dia samy mitondra ny fitaovam-pihinanany avy</li>
                        <li class="text-left">Ny sakafo dia iantohan'ny Techzara fa kosa milaza mialoha izay misy sakafo tsy zaka na fady</li>
                    </ol>
                    <h3 class="text-left"><strong><u>II - Fanehoana ny projets</u></strong></h3>
                    <ol>
                        <li class="text-left">Ny tolakandron'ny lahady 31 Martsa manomboka amin'ny iray ora ny fanehoana ny vokatra nataon'ny sekoly tsirairay</li>
                        <li class="text-left">Folo minitra (10min) isakin'ny sekoly ny fanehoana</li>
                        <li class="text-left">Ny lahady maraina dia samy manomana ny fanehoany ny zava-bitany ny sekoly rehetra</li>
                        <li class="text-left">Tsy azon'ny daholobe hatrehina sy hivezivezena ny toerana misy ny mpandray anjara afa-tsy ny andron'ny 31Mars hariva amin'ny fotoanan'ny fanehoana
                            ny zava-bitan'ny sekoly tsirairay
                        </li>
                    </ol>
                    <h3 class="text-left"><strong><u>III - Zon'ny Sekoly na Université tsirairay </u></strong></h3>
                    <ol>
                        <li class="text-left">
                            Ny zava-bitan'ny Sekoly na Université dia alefa ho projet OpenSource ao amin'ny Github aorian'ny fanehoana saingy azy.
                        </li>
                        <li class="text-left">
                            Manana zo ny  Sekoly na Université  hanome licence miaro ny zava-bitan'izy ireo mba tsy hisy hanao dika mitovy
                        </li>
                        <li class="text-left">
                            Ny  Sekoly na Université raha misy tatitra na kihana dia tokony ho tonga mialoha ny famoahanan'ny mpitsara ny vokatra ,
                            aorian'izay dia tsy manankery intsony ny tatitra hafa rehetra.
                        </li>
                    </ol>
                    <h3 class="text-left"><strong><u>IV - Fitsarana ny projets</u></strong></h3>
                    <h4 class="text-left">Manana isa 100 avy eo ampiaingana ny Sekoly na Université tsirairay , ireto avy ny hitsarana azy :</h4>
                    <ol>
                        <li class="text-left">Design et aspect téchniques</li>
                        <li class="text-left">Présentation</li>
                        <li class="text-left">Innovation</li>
                        <li class="text-left">Aspect économique</li>
                    </ol>
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="h1 font-weight-bold pink-text my-5 py-4">Ny mety ho fanontaniana ??? </h2>
            </div>
        </div>
    </div>
    <div class="grey lighten-4">
        <div class="container pt-5">
            <h6>1 - Maninona no omena roa volana mialoha ny sujet ? </h6>
            <p>Ny antony dia mba ho zavatra mivaingana sy efa vita no asehon'ny sekoly tsirairay , satria tsapa fa nandritra izay hackathon notanterahina rehetra izay dia
            prototype fotsiny ihany no vitan'ny mpandray anjara ary matetika tsy misy tohiny.</p>
            <h6>2 - Inona no atao aty Tanà mandritra ny 30 - 31 Mars ? </h6>
            <p>
                Ny andron'ny 30 mars dia toy izao ny fandahara-potoana.
                <ol>
                    <li class="text-left">Fandraisana ny mpandray anjara rehetra</li>
                    <li class="text-left">Brise glace</li>
                    <li class="text-left">Fifampizarana traikefa entin'ny Sekoly na univérsité tsirairay avy</li>
                    <li class="text-left">Misakafo</li>
                    <li class="text-left">Conférences ny hariva</li>
                    <li class="text-left">Atelier ny mamarana azy ary matory maka aina daholo ny mpandray anjara rehetra</li>
                </ol>
            </p>
            <p>
                Ny andron'ny 31 mars kosa dia toy izao ny fandahara-potoana.
            <ol>
                <li class="text-left">Fanomanan'ny sekoly rehetra ny fanehoany ny zava-bitany</li>
                <li class="text-left">Sakafo</li>
                <li class="text-left">Amin'ny iray ora no manomboka ny fanehoana</li>
                <li class="text-left">Famoahana ny vokatra </li>
                <li class="text-left">Fizarana loka</li>
            </ol>
            </p>
            <h6>3 - Ahoana izahay avy aty amin'ny faritra amin'ny fitaterana ? </h6>
            <p>
                Hatreto aloha dia manao izay hahatongavana aty Antananarivo ny avy any amin'ny faritra rehetra , raha misy kosa anefa ny fiovana dia lazainay eo ihany ianareo mahakasika ny fitaterana
                sy ny fivantanana aty Antananarivo.
            </p>
            <h6>4 - Aiza ny toerana hanaovana ny HIU_2K19 ary inona ny loka ? </h6>
            <p>
                Lazaina eto ihany.
            </p>
            <h6>4 - Raha misy groupe maro samy te handray anjara ao amin'ny sekoly na université iray ? </h6>
            <p>
                Raha misy izany dia anjaran'ny sekoly na ilay université ny manapaka izay ankizy alefany.
            </p>
            <h6>5 - Aiza ny sujet ? </h6>
            <p>
                Mivoaka eto miaraka amin'ny loka sy ny toerana ny faran'ny volana Janoary.
            </p>
            <h6>5 - Aiza ny misoratra anarana ? </h6>
            <p>
                Alefa email ato ny anarana feno an'ny ekipa rehetra , miaraka amin'ny sekoly niaviana  <a href="">techzara.mada@gmail.com</a>.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row my-5 py-4">
            <div class="col-md-12 text-center">
                <h2 class="h1 font-weight-bold pink-text my-5 py-4">Mpiara-miasa :  </h2>
                <p align="justify">
                    Raha te hiara-hiasa aminay ianao dia mandefasa mail any amin'ny
                    <a href="">techzara.mada@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/jquery-3.3.1.min.js"></script>
<!-- Tooltips -->
<script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/mdb.min.js"></script>
<script>
    // object-fit polyfill run
    objectFitImages();
    /* init Jarallax */
    jarallax(document.querySelectorAll('.jarallax'));

    jarallax(document.querySelectorAll('.jarallax-keep-img'), {
        keepImg: true,
    });
</script>
</body>

</html>
