{% set current_route = app.request.attributes.get('_route') %}
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-6 text-left tz-link">
                        <a href="mailto:techzara.mada@gmail.com"><i class="icon-mail"  style="font-size: 30px" ></i></a>
                        <a href="tel:+261 32 94 730 33"><i class="icon-phone3"  style="font-size: 30px" ></i></a>
                    </div>
                    <div class="col-md-6 col-xs-6 text-right tz-social">
                        <a href="https://web.facebook.com/Techzara" target="_blank" class="grow">
                            <i class="icon-facebook"  style="font-size: 30px" ></i>
                        </a>
                        <a href="https://github.com/Techzara" target="_blank" class="grow">
                            <i class="icon-github-with-circle"  style="font-size: 30px" ></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <header id="tz-header-section" class="sticky-banner">
            <div class="container">
                <div class="nav-header">
                    <a href="#" class="js-tz-nav-toggle tz-nav-toggle dark"><i></i></a>
                    <h1 id="tz-logo"><a href="{{ path('home_site_index') }}">TECHZARA</a></h1>
                    <nav id="tz-menu-wrap" role="navigation">
                        <ul class="sf-menu" id="tz-primary-menu">
                            <li class="active"><a href="{{ path('home_site_index') }}">Tongasoa</a></li>
                            <li><a href="#tz-services-section">Projets</a></li>
                            <li><a href="{{ path('membres_liste') }}">Mpikambana</a></li>
                            <li><a href="{{ path('hiu_2k19') }}" target="_blank">HIU_2019</a></li>
                            <li><a href="https://www.techzara.org/sekoliko" target="_blank">Sekoliko</a></li>
                            <li><a href="#footer">Fifandraisana</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>