<div class="tz-hero">
    <div class="tz-overlay"></div>
    <div class="tz-cover text-center" data-stellar-background-ratio="0.5"
         style="background-image: url('{{ asset('front_site_office/images/techzara/techzara-bg.jpg') }}');">
        <div class="desc animate-box">
            <h2><strong>Association</strong> Techzara <strong>Madagascar</strong></h2>
            <span>Mandray - Mivelona - Mizara</span>
            <span><a class="btn btn-primary btn-lg" href="#">Zarao ny fahalalanao</a></span>
        </div>
    </div>
</div>