<div id="tz-services-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Ireo projets sosialy ataon'ny Techzara</h3>
                <p>Amin'ny maha fikambanana développeur ny Techzara , izahay dia manamboatra application sosialy sady entina hifampianarana ihany koa , ireto misy vitsivitsy.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 col-sm-4">
                <div class="services animate-box">
                    <span><i class="icon-home" style="color: #12c3ea!important;"></i></span>
                    <h3>Sekoliko</h3>
                    <p>Projets natao hanamorana ny fitantanana ny Sekoly rehetra maimaim-poana ary afaka andraisan'ny rehetra anjara.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="services animate-box">
                    <span><i class="icon-pen" style="color: #9C27B0!important;"></i></span>
                    <h3>Numérisation</h3>
                    <p>Projets natao hampihenana ny fotoana lany eny amin'ireo birao samihafa , natao ihany koa hiadiana amin'ny kolikoly. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="services animate-box">
                    <span><i class="icon-share"></i></span>
                    <h3>Orientation</h3>
                    <p>Projets natao indrindra mba hanoroana lalana ireo ankizy vao nahavita fianarana teny amin'ny ambaratonga fahatelo .</p>
                </div>
            </div>
        </div>
    </div>
</div>