{% spaceless %}
    {% set aaData = {} %}
    {% for service_client in values %}
        {% set label_service = '' %}
        {% if service_client.lvService %}
            {% set label_service = service_client.lvService.srvLabel %}
        {% endif %}

        {% set status = 'Analyse' %}
        {% if service_client.srvCltStatusValidation == 1 %}
            {% set status = 'Bon commande' %}
        {% elseif service_client.srvCltStatusValidation == 2 %}
            {% set status = 'Fichiers non conforme' %}
        {% elseif service_client.srvCltStatusValidation == 3 %}
            {% set status = 'Ajustement panier de commande' %}
        {% elseif service_client.srvCltStatusValidation == 4 %}
            {% set status = 'Développement' %}
        {% elseif service_client.srvCltStatusValidation == 5 %}
            {% set status = 'Tests' %}
        {% elseif service_client.srvCltStatusValidation == 6 %}
            {% set status = 'Lien livré' %}
        {% elseif service_client.srvCltStatusValidation == 7 %}
            {% set status = 'Finalisé' %}
        {% endif %}

        {%
            set value = [
                label_service,
                service_client.srvCltDate|date('d/m/Y H:i'),
                status,
                '<a class="btn btn-default" title="Voir"
                   href="' ~ path('service_client_detail', { 'id': service_client.id }) ~ '">
                    <i class="fa fa-eye"></i>
                </a>'
            ]
        %}
        {% set aaData = aaData|merge({ (loop.index0): value }) %}
    {% endfor %}
{% endspaceless %}

{% set data_json = data|merge({ 'aaData': aaData} ) %}
{{ data_json|json_encode|raw }}