{% spaceless %}
    {% set aaData = {} %}
    {% for service_client in values %}
        {% set label_service = '' %}
        {% if service_client.lvService %}
            {% set label_service = service_client.lvService.srvLabel %}
        {% endif %}

        {% set nom_entreprise = '' %}
        {% if service_client.lvUser %}
            {% set nom_entreprise = service_client.lvUser.usrNomEntreprise %}
        {% endif %}

        {% set status = 'Testé' %}
        {% if service_client.srvCltStatusProject == 0 %}
            {% set status = 'En attente' %}
        {% elseif service_client.srvCltStatusProject == 1 %}
            {% set status = 'En cours' %}
        {% elseif service_client.srvCltStatusProject == 2 %}
            {% set status = 'Terminé' %}
        {% endif %}

        {%
            set value = [
                nom_entreprise,
                label_service,
                service_client.srvCltDate|date('d/m/Y H:i'),
                '<span id="id-service-client-' ~ service_client.id ~ '">' ~ status ~ '</span>',
                '<a class="btn btn-default" title="Voir"
                   href="' ~ path('service_client_detail', { 'id': service_client.id }) ~ '">
                    <i class="fa fa-eye"></i>
                </a>
                <span class="btn-group">
                    <button type="button" class="btn btn-info">Statut</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="kl-service-client" href="javascript:void(0)"
                                id-service-client="' ~ service_client.id ~ '");" id-status="0">
                                En attente
                            </a>
                        </li>
                        <li>
                            <a class="kl-service-client" href="javascript:void(0)"
                                id-service-client="' ~ service_client.id ~ '");" id-status="1">
                                En cours
                            </a>
                        </li>
                        <li>
                            <a class="kl-service-client" href="javascript:void(0)"
                                id-service-client="' ~ service_client.id ~ '");" id-status="2">
                                Terminé
                            </a>
                        </li>
                        <li>
                            <a class="kl-service-client" href="javascript:void(0)"
                                id-service-client="' ~ service_client.id ~ '");" id-status="3">
                                Testé
                            </a>
                        </li>
                    </ul>
                </span>'
            ]
        %}
        {% set aaData = aaData|merge({ (loop.index0): value }) %}
    {% endfor %}
{% endspaceless %}

{% set data_json = data|merge({ 'aaData': aaData} ) %}
{{ data_json|json_encode|raw }}