.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

mat-form-field {
  width: 100%;
}

.button-right{
  float: right;
  right: 0px;
  margin: 0;
}
.login-content {
  margin: 8% 72px;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  width: 50%;
}
.loginImg {
  width: 40%;
  height: 40%;
}
.tz-button{display: block;width: 100%;background-color:#2e6bb1!important; padding: 2%}
.tz-header-login{ text-align: center;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0
  rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); padding: 4%; background: #2e6bb1; color: white;}




