<section>
    <div id="event" class="tab-content">
        <div class="tab-pane active work" id="work">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-center">Prochaines activité</h1>
                    <div class="row collections">
                        {% for programme in programmes %}
                        <div class="col-md-6">
                            <div class="card card-background" style="background-image: url('{{ asset('front_site_office/images/techzara/card1.jpg') }}')">
                                <a href="#pablo"></a>
                                <div class="content">
                                    <label class="label label-primary">{{ programme.tzProgrammeIntervenants }}</label>
                                    <a href="#pablo">
                                        <h2>08H - 12H</h2>
                                        <h2 class="card-title">{{ programme.tzProgrammeIntervenants }}</h2>
                                        <p>{{ programme.tzProgrammeDescription|length > 50 ? article.content|slice(0, 50) ~ ' ... ' : programme.tzProgrammeDescription }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>