<div class="page-header header-filter" style="background-image: url('{{ asset('front_site_office/images/techzara/techzara-bg.jpg') }}');">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-1">Techzara Madagascar</h1>
                <h4>Mandray - Mivelona - Mizara</h4>
            </div>
        </div>
    </div>
</div>