<div class="site-section testimonial-wrap custom-owl-carousel" id="testimonials-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5" data-aos="fade-up">
            <div class="col-lg-6 mb-5 text-center">
                <h2 class="section-title w-100 mx-auto">Our Amazing Team</h2>
                <p>To better organize, we have leaders in our association.</p>
            </div>
        </div>
        <div class="row align-items-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-5 mr-auto">

                <div class="owl-carousel slide-one-item-alt-text">
                    <div class="slide-text">
                        <blockquote>
                            <p><span>&ldquo;</span>I am proud of Techzara, as well as their spirit to share with one
                                another their knowledge and know-how in the field of new
                                technology..<span>&rdquo;</span></p>
                            <p class="author">&mdash; Fenosoa Razafimandimbilaza</p>
                        </blockquote>
                    </div>
                    <div class="slide-text">
                        <blockquote>
                            <p><span>&ldquo;</span>Techzara is my family, I meet a lot of different people in the
                                field of Computer Science, I do my best for young people, that's my goal.<span>&rdquo;</span>
                            </p>
                            <p class="author">&mdash; Julien Rajerison</p>
                        </blockquote>
                    </div>
                    <div class="slide-text">
                        <blockquote>
                            <p><span>&ldquo;</span>I am a Techzara member since March 2019, I'm joining Techzara to
                                do my best for young people and to improve my techniques in the field of computer
                                science<span>&rdquo;</span></p>
                            <p class="author">&mdash; Mitia Andria</p>
                        </blockquote>
                    </div>
                    <div class="slide-text">
                        <blockquote>
                            <p><span>&ldquo;</span>I'm joining Techzara for 2 years, currently I am coach of the
                                electronics and robotics community, it's really cool to share with others and also
                                to receive skills.<span>&rdquo;</span></p>
                            <p class="author">&mdash; Hery Ranaivoarisoa</p>
                        </blockquote>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 ml-auto" data-aos="fade-up" data-aos-delay="200">

                <div class="owl-carousel techzara-admin slide-one-item-alt">
                    <img src="{{ asset('techzara_image/fenosoa.png') }}" alt="Parrain Techzara" class="img-fluid">
                    <img src="{{ asset('techzara_image/jul.jpg') }}" alt="Techzara admin" class="img-fluid">
                    <img src="{{ asset('techzara_image/mitia.jpg') }}" alt="Techzara admin" class="img-fluid">
                    <img src="{{ asset('techzara_image/hery.jpg') }}" alt="Techzara admin" class="img-fluid">
                </div>

                <div class="owl-custom-direction">
                    <a href="#" class="custom-prev"><span class="icon-keyboard_arrow_left"></span></a>
                    <a href="#" class="custom-next"><span class="icon-keyboard_arrow_right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
