@media screen and (max-width: 850px){
    .display-1 { font-size: 3rem!important;}
}
@media screen and (max-width: 390px){
    .page-header{margin-top: 33%!important;}
}
@media screen and (max-width: 455px ) and (min-width: 390px){
    .page-header{margin-top: 20%!important;}
}