{% extends 'front_site_office/base_front.html.twig' %}

{% block title %} {{ parent() }} Erreur 403 {% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <p>Accès non autorisé</p>
        </div>
    </div>
{% endblock %}
