{% extends 'front_site_office/base_front.html.twig' %}

{% block title %} {{ parent() }} Erreur 500 {% endblock %}

{% block body %}
    <div class="container-fluid tz-content-error">
        <img class="tz-img-error" src="{{ asset('front_site_office/images/techzara/exception/error.jpeg') }}" alt="error image" />
    </div>
    <style type="text/css">
        footer{
            position: fixed!important;
            bottom: 0!important;
            width: 100%!important;
        }
        .tz-content-error{text-align: center}
        .tz-img-error{width: 95%;height: 78vh}
        .navbar{position: relative!important;}
    </style>
{% endblock %}