{% extends 'front_site_office/base_front.html.twig' %}

{% block title %} {{ parent() }} Erreur 404 {% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <p>Désolé, l'URL demandée n'a pas été trouvée</p>
        </div>
    </div>
{% endblock %}
