{% extends 'front_site_office/base_front.html.twig' %}

{% block title %} {{ parent() }} Erreur 500 {% endblock %}

{% block body %}
    <div class="container">
        <img src="{{ asset('front_site_office/images/techzara/exception/500.jpeg') }}" alt="error image" />
        <div class="text-center">
            <p>Désolé, une erreur est survenue !</p>
        </div>
    </div>
    <style type="text/css">
        footer{
            position: fixed!important;
            bottom: 0!important;
            width: 100%!important;
        }
        .navbar{position: relative!important;}
    </style>
{% endblock %}