{% extends 'front_site_office/base_front.html.twig' %}

{% block title %} Techzara - Informations sur les cookies {% endblock %}

{% block body %}
    <section class="cks">
        <div class="container">
            <div class="container text-center">
                <h2 class="text-center text-uppercase"><span class="kl-color-dark">Informations</span> sur les cookies
                </h2>
            </div>
            <p>Certaines fonctionnalités de ce site nécessitent l'utilisation de cookies que ce soit pour l'expérience
                utilisateur : l'affichage en polices et tailles adéquates, ou le processus de contact. </p>

            <p>Certaines fonctionnalités de ce site s’appuient également sur des services proposés par des sites
                tiers. Ces fonctionnalités déposent des cookies permettant notamment à ces sites de tracer
                votre navigation. Ces cookies ne sont déposés que si vous donnez votre accord. </p>
            <p><b>Ces cookies servent :</b></p>
            <ul>
                <li>Au suivi de nos visiteurs</li>
                <li>Le stockage des paramètres d’affichage</li>
                <li>Les différentes saisies réalisées</li>
            </ul>
        </div>
    </section>
{% endblock %}




