<section>
  <div cascade="true" wider="true" reverse="true" class="my-4">
    <!--Card image-->
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="tz-pdc"
             style="width: 100%;height: 25vh" alt="Card image cap">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
             style="position: relative;margin-top: -133px!important;" class="rounded-circle m-auto">
    </div>
    <mdb-card-body cascade="true" class="text-center">
      <mdb-card-title>
        <h4>
          <strong>Proviseur</strong>
        </h4>
      </mdb-card-title>
      <h5 class="indigo-text">
        <strong>proviseur@proviseur.proviseur</strong>
      </h5>
      <mdb-card-text>
        Proviseur du bloblable ................................ , lorem ipsum
      </mdb-card-text>

      <div class="m-auto">
        <a class="icons-sm li-ic">
          <i class="fa fa-linkedin px-2"> </i>
        </a>
        <a class="icons-sm tw-ic">
          <i class="fa fa-twitter px-2"> </i>
        </a>
        <a class="icons-sm fb-ic">
          <i class="fa fa-facebook px-2"> </i>
        </a>
      </div>
    </mdb-card-body>
  </div>
</section>